<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>作业自助管理平台</title>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        .row h4{
            text-align: center;
        }
    </style>
</head>

<% include header.ejs %>
<form>
    <div class="container">
        <div class="form-group">
            <label for="xuehao-ex">学号</label>
            <input name="xuehao" type="text" class="form-control" id="xuehao" placeholder="<%=xuehao %>" readonly>
        </div>
        <div class="form-group">
            <label for="fenzu-ex">软件工程分组</label>
            <input name="fenzu" type="text" class="form-control" id="fenzu" placeholder="<%=fenzu %>" readonly>
        </div>
        <div class="form-group">
            <label for="xiangmu-ex">软件工程项目名称</label>
            <input name="xiangmu" type="text" class="form-control" id="xiangmu" placeholder="<%=xiangmu %>" readonly>
        </div>
        <div class="form-group">
            <label for="banji-ex">班级</label>
            <input name="banji" type="text" class="form-control" id="banji" placeholder="<%=banji %>" readonly>
        </div>
        <div class="form-group">
            <label for="banji-ex">班内序号</label>
            <input name="xuhao" type="text" class="form-control" id="xuhao" placeholder="<%=xuhao %>" readonly>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">旧密码</label>
            <input name="oldmima" type="password" class="form-control" id="oldmima" placeholder="旧密码">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword2">新密码</label>
            <input name="newmima" type="password" class="form-control" id="newmima" placeholder="新密码">
        </div>
        <button name="xiugai" id="xiugai" type="button" class="btn btn-default">修改密码</button>
    </div>
</form>
<% include footer.ejs %>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $("#xiugai").click(function () {
        $.post("/doxiugaimima",{
            "xuehao" : $("#xuehao").val(),
            "newmima" : $("#newmima").val(),
            "oldmima" : $("#oldmima").val()
        },function (res) {
            if(res == "1"){
                alert("修改成功");
            }else if(res == "-2"){
                alert("密码错误");
            }
        })
    })
</script>
</body>
</html>